pi017_Game/quiz/QuizGame/Connected Services/ServiceReference1/Quiz.Classes.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Quiz.Classes.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Quiz.Classes.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CPicture">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPicture" nillable="true" type="tns:CPicture" />
  <xs:complexType name="CPictureSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="PictureList" nillable="true" type="tns:ArrayOfCPicture" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPictureSet" nillable="true" type="tns:CPictureSet" />
  <xs:complexType name="ArrayOfCPicture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPicture" nillable="true" type="tns:CPicture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPicture" nillable="true" type="tns:ArrayOfCPicture" />
</xs:schema>