pi017_Game/quiz/QuizGame/Connected Services/ServiceReference1/Quiz.Classes.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Quiz.Classes.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Quiz.Classes.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CQuestion" nillable="true" type="tns:CQuestion" />
</xs:schema>