pi017_Game/quiz/QuizGame/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Quiz.Classes.Model" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Quiz.Classes.Service" />
  <xs:element name="GetQuestion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Quiz.Classes.Model" minOccurs="0" name="GetQuestionResult" nillable="true" type="q1:CQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicture">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPictureResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaPicture">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Quiz.Classes.Service" minOccurs="0" name="GetMetaPictureResult" nillable="true" type="q2:CPicture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureSet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPictureSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Quiz.Classes.Service" minOccurs="0" name="GetPictureSetResult" nillable="true" type="q3:CPictureSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>