pi017_Game/quiz/QuizGame/Connected Services/GameServiceReference/Meta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8000/Service/Meta?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Quiz.Classes.Model" />
  <xs:element name="GetQuestion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Quiz.Classes.Model" minOccurs="0" name="GetQuestionResult" nillable="true" type="q1:CQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>